* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   max-width: 1100px;
   min-height: 100vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.section-margin {
   margin: 50px 0;
   position: relative;
   & + .section-margin {
      margin-top: 0;
   }
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fg-1 {
   flex-grow: 1;
}

.input {
   width: 500px;
   border: 1px solid $gray;
   padding: 12px 40px 12px 20px;
   outline: none;
   line-height: 24px;
}

.flex {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   gap: 20px;
   & p {
      text-align: end;
   }
}

.grey {
   color: $gray;
}