.button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: white;
   cursor: pointer;
   padding: 16px 40px;
   line-height: 24px;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;
   border: none;
   outline: none;
   box-shadow: 2px 2px 5px rgb(57, 57, 57);
   &:hover {
      background-color: rgb(0, 0, 176);
      color: white;
   }
   &:active {
      box-shadow: inset 3px 3px 5px rgb(55, 55, 254), inset -4px -4px 5px rgb(55, 55, 254);
   }
}