.header {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   min-height: 60px;
   border-bottom: 1px solid $gray;
   a {
      display:flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
   }
   .header-form {
      position: relative;
      .form-button {
         position: absolute;
         top:50%;
         transform: translateY(-50%);
         border: none;
         background-color: inherit;
         padding: 10px;
         cursor: pointer;
         right: 0;
      }
   }
   .burger-menu {
      display: flex;
      gap: 20px;
   }
}