.pagination {
   display: flex;
   justify-content: space-between;
   padding: 15px;
   .pagination-page-list {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 30px;
   .page-button {
      padding: 5px;
      color: $gray;
      background-color: inherit;
      font-size: 1.5em;
      border: none;
      font-weight: bold;
      cursor: pointer;
      &.active {
         color: black;
      }
      }
   }
}