.subscribe {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   border-radius: $border-radius;
   padding: 56px 64px;
   background-color: rgba(211, 188, 88, 0.331);
   .subtitle {
      color: $gray;
   }
   form {
      display: flex;
      .input {
         flex-grow: 1;
         padding: 16px 24px;
      }
   }
}