// @import "./header"; 
@import "./variables"; 
@import "./cart"; 

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.title-overflow {
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.2em;
   min-height: 2.4em;
   hyphens: manual;
}

.title {
   font-weight: bold;
   font-size: 1.5em;
   text-transform: uppercase;
}

.section-margin {
   margin: 50px 0;
   & + .section-margin {
      margin-top: 0;
   }
}

.arrow-btn {
   border: none;
   background-color: inherit;
   font-size: 18px;
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight: bold;
   cursor: pointer;
}

.not-founded {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   justify-content: center;
   font-size: 40px;
}

.pagination {
   display: flex;
   justify-content: space-between;
   padding: 15px;
   .pagination-page-list {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 30px;
   .page-button {
      padding: 5px;
      color: $gray;
      background-color: inherit;
      font-size: 1.5em;
      border: none;
      font-weight: bold;
      cursor: pointer;
      &.active {
         color: black;
      }
      }
   }
}

.fg-1 {
   flex-grow: 1;
}

#root {
   max-width: 1100px;
   min-height: 100vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;

}

.loader-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   .loader {
      width: 100px;
      height: 100px;
      border: 7px solid black;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
   }
}

   @keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
   } 

.header {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   min-height: 60px;
   border-bottom: 1px solid $gray;
   a {
      display:flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
   }
   .input {
      background: url('../img/search.png') no-repeat right 15px center;
   }
   .burger-menu{
      display: flex;
      gap: 20px;
   }
}

.input {
   width: 500px;
   border: 1px solid $gray;
   padding: 12px 50px 12px 20px;
   outline: none;
   line-height: 24px;
}

.new-books-container {
   width: 100%;
   min-height: 200px;
   h1 {
      margin-bottom: 30px;
   }
   .loader-container {
      margin-top: 150px;
   }
}

.new-books-list{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 25px;
}

.image-block {
   width: 350px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $light-blue;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

.book-card {
   position: relative;
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap:10px;
   .title {
      font-size: 1em;
   }
   cursor: pointer;
   .book-isbn13 {
      color: $gray;
   }
}

.footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 20px 0;
   border-top: 1px solid $gray;
   color: $gray;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: white;
   cursor: pointer;
   padding: 16px 40px;
   line-height: 24px;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;
   border: none;
   outline: none;
   box-shadow: 2px 2px 5px rgb(57, 57, 57);
   &:hover {
      background-color: rgb(0, 0, 176);
      color: white;
   }
   &:active {
      box-shadow: inset 3px 3px 5px rgb(55, 55, 254), inset -4px -4px 5px rgb(55, 55, 254);
   }
}

.book-page {
   .title {
      margin-bottom: 30px;
   }
   .book-price {
      font-size: 30px;
      font-weight: bold;
   }
   .book-page-main-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
   }
   .book-page-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      width: 400px;
      border-top: 1px solid $gray;
      .book-page-button {
         width: 100%;
      }
   }
   .book-page-description {
      .title {
         padding: 10px 0;
      }
      p {
         font-size: 18px;
         line-height: 1.3em;
      }
   }
}

.flex {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   gap: 20px;
   & p {
      text-align: end;
   }
}

.grey {
   color: $gray;
}

.subscribe {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   padding: 56px 64px;
   background-color: #F4EEFD;
   .subtitle {
      color: $gray;
   }
   form {
      display: flex;
      .input {
         flex-grow: 1;
         padding: 16px 24px;
      }
   }
}

.similar-books {
   position: relative;
   & h2 {
      margin-bottom: 40px;
      text-transform: uppercase;
   }
   .similar-book-content {
      display: flex;
      justify-content: space-between;
      gap: 25px;
   }
   .control-btn {
      display: flex;
      gap: 20px;
      position: absolute;
      top: 0;
      right: 0;
   }
}